#box{
    height: 400px;
    width:1000px;
    background-color: rgb(188, 215, 239);
    margin-left: 170px;
    
}
.box{
    display: flex;
    border-radius: 2px;
}
.input{
    padding: 30px 100px 10px 40px;
   
}
select{
    height: 25px;
    width: 200px;
}
#temp,#result{
    height: 20px;
    width: 200px;
    border-radius: 5px;
}
.input1{
    height: 20px;
    width: 200px;
    margin: 40px 0px 20px 385px;
    border-radius: 2px;
}
.btn{
    margin: 130px 0px 0px 430px;
    border-radius: 2px;
}
button{
    height: 30px;
    width: 100px;
    background-color: azure;
    border-radius: 5px;
    
}
